<!DOCTYPE html>
<html>
  <head>
    <title>RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/icon.png">
  </head>

  <body>
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="/rock">
              Play Rock
            </a>
          </li>

          <li>
            <a href="/paper">
              Play Paper
            </a>
          </li>

          <li>
            <a href="/scissors">
              Play Scissors
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
